<footer>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="collapse navbar-collapse justify-content-md-center" id="footer">
        <div class="row">
          <div class="col-12 col-md-12">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              
              <!-- <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li> -->

            </ul>
            <div class="footer-copyright text-muted text-center">Sabancı University | 2019</div>
          </div>
        </div>
      </div>
    </nav>
    

  </div>
</footer>